@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --background: 40.00 60.00% 98.04%;
        --foreground: 24.00 19.48% 15.10%;
        --card: 40.00 60.00% 98.04%;
        --card-foreground: 24.00 19.48% 15.10%;
        --popover: 40.00 60.00% 98.04%;
        --popover-foreground: 24.00 19.48% 15.10%;
        --primary: 23.90 49.17% 47.06%;
        --primary-foreground: 28.00 100% 97.06%;
        --secondary: 174 34.78% 45.10%;
        --secondary-foreground: 28.00 100% 97.06%;
        --muted: 30.97 60.78% 90%;
        --muted-foreground: 24 9.80% 40%;
        --accent: 174 34.78% 45.10%;
        --accent-foreground: 28.00 100% 97.06%;
        --destructive: 4.26 60% 53.92%;
        --destructive-foreground: 28.00 100% 97.06%;
        --border: 31.30 29.87% 84.90%;
        --input: 31.30 29.87% 84.90%;
        --ring: 23.90 49.17% 47.06%;
        --chart-1: 23.90 49.17% 47.06%;
        --chart-2: 4.26 60% 53.92%;
        --chart-3: 174 34.78% 45.10%;
        --chart-4: 28.00 100% 97.06%;
        --chart-5: 30.97 60.78% 90%;
        --sidebar: 39 34.48% 88.63%;
        --sidebar-foreground: 28.57 16.54% 24.90%;
        --sidebar-primary: 30.00 33.87% 48.63%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 42.86 32.81% 74.90%;
        --sidebar-accent-foreground: 28.57 16.54% 24.90%;
        --sidebar-border: 40.00 31.43% 79.41%;
        --sidebar-ring: 30.00 33.87% 48.63%;
        --font-sans: Libre Baskerville, serif;
        --font-serif: Lora, serif;
        --font-mono: IBM Plex Mono, monospace;
        --radius: 0.5rem;
        --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
        --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
        --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
        --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
    }

    .dark {
        --background: 26.67 17.65% 10%;
        --foreground: 28.00 100% 97.06%;
        --card: 26.67 17.65% 10%;
        --card-foreground: 28.00 100% 97.06%;
        --popover: 26.67 17.65% 10%;
        --popover-foreground: 28.00 100% 97.06%;
        --primary: 23.90 49.17% 47.06%;
        --primary-foreground: 28.00 100% 97.06%;
        --secondary: 174 34.78% 45.10%;
        --secondary-foreground: 28.00 100% 97.06%;
        --muted: 30 20.31% 25.10%;
        --muted-foreground: 30.97 20.26% 70%;
        --accent: 174 34.78% 45.10%;
        --accent-foreground: 28.00 100% 97.06%;
        --destructive: 0 84% 47%;
        --destructive-foreground: 28.00 100% 97.06%;
        --border: 31.58 14.96% 24.90%;
        --input: 31.58 14.96% 24.90%;
        --ring: 23.90 49.17% 47.06%;
        --chart-1: 23.90 49.17% 47.06%;
        --chart-2: 4.26 60% 53.92%;
        --chart-3: 174 34.78% 45.10%;
        --chart-4: 28.00 100% 97.06%;
        --chart-5: 30.97 60.78% 90%;
        --sidebar: 25.00 15.38% 15.29%;
        --sidebar-foreground: 39 34.48% 88.63%;
        --sidebar-primary: 30 33.68% 62.75%;
        --sidebar-primary-foreground: 25.00 15.38% 15.29%;
        --sidebar-accent: 24.44 17.88% 29.61%;
        --sidebar-accent-foreground: 39 34.48% 88.63%;
        --sidebar-border: 24.71 12.98% 25.69%;
        --sidebar-ring: 30 33.68% 62.75%;
        --font-sans: Libre Baskerville, serif;
        --font-serif: Lora, serif;
        --font-mono: IBM Plex Mono, monospace;
        --radius: 0.25rem;
        --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
        --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
        --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
        --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
        --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
        --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background text-foreground;
    }
}
